table {
  width: 100%;
  max-width:800px;
  margin: auto;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
}
td,th {
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  text-align: center;
  padding: 5px 10px;
}

.controls {
  padding: 20px;
  text-align: center;
}

.controls select {
  margin: 0 10px;
  font-size:16px;
}



.home-win .result.home {
  color: green;
}
.home-win .result.away {
  color: red;
}
.away-win .result.away {
  color: green;
}
.away-win .result.home {
  color: red;
}
.draw .result {
  color: blue;
}
.result {
  padding: 5px;
  width:10%;
  font-weight: bold;
}
.team {
  width:40%;
}
.team.home {
  text-align: right;
}

.team.away {
  text-align: left;
}