table {
  width: 100%;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
}
td,th {
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  text-align: center;
  padding: 5px 10px;
}

.home-win .result.home {
  color: green;
}
.home-win .result.away {
  color: red;
}
.away-win .result.away {
  color: green;
}
.away-win .result.home {
  color: red;
}
.draw .result {
  color: blue;
}
.result {
  padding: 5px;
  font-weight: bold;
}
.team.home {
  text-align: right;
}

.team.away {
  text-align: left;
}